*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}
h1 h2 h3 {
    font-weight: 500;
}
h4 h5 h6 p li {
    font-weight: 300;
}
main{
    height: auto;
}
header{
    background-image: url(../img/bg-img.jpg);
    background-size:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    height: auto;
}
section h1{
    text-align: center;
}
nav a{
    display: flex;

}
section .cambio{
    color: white;
    padding-bottom: 10px;
}

main{
    height: 250px;
}
footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    margin: 0px;
}
footer h4{
    text-align: center;
}
footer a{
    display: flex;
    justify-content: center;
}
/*Portafolio*/
.portafolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}